@{
    ViewBag.Title = "30 Tips and Tricks";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                See the online version at GitHub <a href="https://github.com/adamtuliper/" title="30 Tips and Tricks">here</a>.
            </p>
        </div>
    </section>
}

<h3>Page 4</h3>
<ol class="round">
    <li class="one">
        <h5>Html 5 Templates</h5>
        <a href="http://html5boilerplate.com/">Sites Home Page</a>

    </li>

    <li class="two">
        <h5>iPhone Emulator Secret</h5>
        @Html.ActionLink("Demo", "iPhoneEmulator")</a>
    </li>


    <li class="three">
        <h5>Web Forms Friendly Urls</h5>
        @Html.ActionLink("Demo", "FriendlyUrlsInWebForms")</a>
    </li>

    <li class="four">
        <h5>Web Forms Model Binding</h5>
        @Html.ActionLink("Demo", "WebFormsModelBinding")
    </li>
    <li class="five">
        <h5>Javascript Text to Speech</h5>
        <a href="https://github.com/kripken/speak.js">Code</a>
        <a href="http://syntensity.com/static/espeak.html">Demo</a>
    </li>

    <li class="six">
        <h5></h5>
    </li>
    <li class="seven">
        <h5>Mode</h5>

    </li>
    <li class="eight">
        <h5></h5>

    </li>
    <li class="nine">
        <h5></h5>

    </li>

    <li class="ten">
        <h5></h5>

    </li>


</ol>
