@{
    ViewBag.Title = "30 Tips and Tricks";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                See the online version at GitHub <a href="https://github.com/adamtuliper/" title="30 Tips and Tricks">here</a>.
            </p>

        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>CAT.NET</h5>
        <a href="http://completedevelopment.blogspot.com/2012/03/running-catnet-in-visual-studio-2010.html">running-catnet-in-visual-studio-2010</a>
    </li>
    
        <li class="two">
        <h5>Hidden Field Switcher / Firefox Dev Tools for Chrome Mode</h5>
        @Html.ActionLink("Demo", "HiddenFieldSwitcher")
    </li>

    <li class="three">
        <h5>Attribute Routing</h5>
        @Html.ActionLink("More complex route", "ViewSortedCustomers", new { companyId = 5, sortOrder = "asc" })
    </li>

    <li class="four">
        <h5>Forms Authentication Timeouts vs Session Timeouts</h5>
        <a href="http://stackoverflow.com/questions/7586469/how-can-i-handle-forms-authentication-timeout-exceptions-in-asp-net">Technical Details</a>
        @Html.ActionLink("Demo", "FormsAuthTimeouts")
    </li>

    <li class="five">
        <h5>Uptime Robot</h5>
        <a href="http://www.uptimerobot.com/">Externally monitor your app for free</a>
    </li>
    
       <li class="six">
        <h5>TodoMVC</h5>
        <a href="http://todomvc.com">MV* Sample Projects for popular MV* related technologies</a>
    </li>
    
    <li class="seven">
        <h5>jsFiddle</h5>
        <a href="http://jsfiddle.net">jsFiddle</a>
    </li>
      <li class="eight">
        <h5>SMTP Testing</h5>
        <a href="http://localhost:1706/tips3/smtp">SMTP</a>
    </li>

    @*        <li class="one">
        <h5>SMTP Testing</h5>
        @Html.ActionLink("Demo", "DependencyInjectionInMVC")
    </li>
    
      <li class="three">
        <h5> Universal Membership Providers</h5>
        how to configure, download, etc.
    </li>*@

</ol>

